nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
    padding:5px 10px 5px 10px;
    border-radius: 0px;
    background-color: aqua;
}
nav li a{
    text-decoration: none;

}

nav li:hover{
    background-color: rgb(69, 68, 66);
    transition: .5s;
    border-radius: 10px;
    
    

}
nav li a:hover{
    color:white;
    transition: .5s;
}

footer{
    text-align: center;
}

figure img{
    width: 300px;
    border-radius: 15px;
}