h1{
    color:#341539;
    font-size: 48px;
    text-align: center;
}
.p p{
    color:#333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p h3{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}
#intro{
    font-weight: bold;
}
#goal{
    font-style: italic;
}
